{% extends 'base.html' %}
{% comment %}
    context vars:
    admin : info of admin
{% endcomment %}

{% block title %} Add students {% endblock %}


{% block content %}
    {% comment %}
        Nav Bar
    {% endcomment %}
<div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><span style="padding-left: 50px">Project Allotment Portal</span> </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
              <form method="post" action="{% url 'Return to Admin Home' admin.username %}">
                {% csrf_token %}
                <span style="padding-right: 50px"> <button class="btn waves-effect waves-light" type="submit" name="return" value="return">Return</button></span>
              </form>
          </li>
      </ul>
    </div>
    </nav>
</div>
    {% comment %}
        Nav bar ended
    {% endcomment %}
    <div class="container row">
        <h2>Add Student</h2>
        <form method="post" action="{% url "Add Student" admin.username%}" class="col s12">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" id="name" name="name" required>
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">format_list_numbered</i>
                    <input type="text" id="reg_no" name="reg_no" required>
                    <label for="reg_no">Registration number</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">school</i>
                    <input type="text" id="branch" name="branch" required>
                    <label for="branch">Branch</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">format_list_numbered</i>
                    <input type="number" id="cpi" name="cpi" step=".01" required>
                    <label for="cpi">CPI</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input type="email" id="email" name="email">
                    <label for="email">Email</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
