{% extends 'base.html' %}
{% comment %}
    context vars:
    admin : Info about logged in admin
{% endcomment %}
{% block title %}Admin Home{% endblock %}

{% block content %}
    {% comment %}
        Nav Bar
    {% endcomment %}
<div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><span style="padding-left: 50px"> Hi, {{ admin.username }}</span> </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'home' %}"><span style="padding-right: 50px"> Logout</span></a></li>
      </ul>
    </div>
    </nav>
</div>
    {% comment %}
        Nav bar ended
    {% endcomment %}

    <div class="container">

    <h2>ADMIN ACCOUNT</h2>


    <h4>Add Professor:</h4>
    {% if admin.is_lead_allotted == True %}
        <p>Group leaders have been allotted. Professors can't be added now.</p>
    {% elif admin.round_1 == False %}
        <form method="post" action="{% url 'Yes_or_no' %}">
        {% csrf_token %}
        Do you want to add Professors?
        <button class="btn waves-effect waves-light" type="submit" name="choice" value="yes">Yes
        <i class="material-icons right">send</i>
        </button>
        </form>
    {% endif %}

    <h4>Add Students:</h4>

        <form method="post" action="{% url 'Add Students or not' %}">
        {% csrf_token %}
        Do you want to add Students?
        <button class="btn waves-effect waves-light" type="submit" name="choice_stu" value="yes">Yes
        <i class="material-icons right">send</i>
        </button>
        </form>


    <h4>Group Leader allotment:</h4>
        {% if admin.is_lead_allotted == False %}

            <form method="post" action="{% url 'Leader Allotment' admin.username %}">
                {% csrf_token %}
                Do you want to allot group leaders?
                <button class="btn waves-effect waves-light" type="submit" name="allot" value="yes">Allot
                <i class="material-icons right">send</i>
                </button>
            </form>
        {% else %}
            <p>Group Leaders have been allotted.</p>
        {% endif %}

    <h4>Default student password setting:</h4>
        {% if admin.is_stu_pass_set == False %}
            <form method="post" action="{% url 'Default student password' admin.username %}">
                {% csrf_token %}
                Do you want to Set default password for student account?
                <button class="btn waves-effect waves-light" type="submit" name="set" value="yes">Set
                <i class="material-icons right">send</i>
                </button>
            </form>
        {% else %}
            <p>Default student password has been set.</p>
        {% endif %}



    <h4>Mentor assignment:</h4>
        {% if admin.is_mentor_assigned == False and admin.is_lead_allotted == True %}
            {% if admin.round_1 == False %}

                <form method="post" action="{% url 'Assign Mentor Round 1' admin.username %}">
                    {% csrf_token %}
                    Assign mentors(Round 1):
                    <button class="btn waves-effect waves-light" type="submit" name="assign1" value="yes">Assign
                    <i class="material-icons right">send</i>
                    </button>
                </form>




{#                <p>Assign mentors(Round 1): <a href="{% url 'Assign Mentor Round 1' admin.username %}"><button class="btn waves-effect waves-light" type="submit">Assign#}
{#        <i class="material-icons right">send</i>#}
{#        </button> </a> </p>#}
            {% elif admin.round_2 == False %}

                <form method="post" action="{% url 'Assign Mentor Round 2' admin.username %}">
                    {% csrf_token %}
                    Assign mentors(Round 2):
                    <button class="btn waves-effect waves-light" type="submit" name="assign2" value="yes">Assign
                    <i class="material-icons right">send</i>
                    </button>
                </form>

{#                <p>Assign mentors(Round 2): <a href="{% url 'Assign Mentor Round 2' admin.username %}"><button class="btn waves-effect waves-light" type="submit">Assign#}
{#        <i class="material-icons right">send</i>#}
{#        </button> </a> </p>#}
            {% else %}

                <form method="post" action="{% url 'Assign Mentor Round 3' admin.username %}">
                    {% csrf_token %}
                    Assign mentors(Round 3):
                    <button class="btn waves-effect waves-light" type="submit" name="assign3" value="yes">Assign
                    <i class="material-icons right">send</i>
                    </button>
                </form>
{#                <p>Assign mentors(Round 3): <a href="{% url 'Assign Mentor Round 3' admin.username %}"><button class="btn waves-effect waves-light" type="submit">Assign#}
{#        <i class="material-icons right">send</i>#}
{#        </button> </a> </p>#}
            {% endif %}
        {% elif admin.is_mentor_assigned == False and admin.is_lead_allotted == False %}
            <p>Group Leaders not allotted yet.</p>
        {% else %}
            <p>Mentors have been assigned.</p>
        {% endif %}
    </div>

{% endblock %}