{% extends 'base.html' %}
{% comment %}
    context vars
    leader : Information of Leader currently logged in
    professors : Info of all proffesors
    invited_students : Info of all invited students
    accepted_invitees : Info of students who have accepted the invite
    mentor : Mentor allotted to current leader
    admin : Info of admin
    students : All available students
{% endcomment %}
{% block title %}Group Leader Home{% endblock %}

{% block content %}
     {% comment %}
        Nav Bar
    {% endcomment %}
    <div class="navbar-fixed">
        <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><span style="padding-left: 50px"> Hi, {{ leader.name }}</span></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{% url 'chat:index' %}"><span style="padding-right: 50px">Chat Room</span> </a></li>
              <li><a href="{% url 'home' %}"><span style="padding-right: 50px">Logout</span> </a></li>
          </ul>
        </div>
        </nav>
    </div>
    {% comment %}
        Nav bar ended

         <div class="input-field col s12">
    <select id="pref_1" name="pref_1" required>
      <option value="" disabled selected>Choose your option</option>
      <option value="{{ professor.pk }}">{{ professor.name }}</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>
    {% endcomment %}




    <div class="container">
    <h1>LEADER ACCOUNT</h1>

    <h4>Fill Preferences:</h4>
    {% if leader.pref_allotted == '0' %}
        {% if leader.has_filled_pref == False and admin.round_1 == False %}

        {% comment %} ROUND 1 ALLOTTMENT PREFERENCES {% endcomment %}
            <div class="row">
                <p>Fill your preferences for Round 1 assignment.</p>
                <form method="post" action="{% url 'Preference set' leader.reg_no %}" class="col s12">
                    {% csrf_token %}
                    <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">looks_one</i>
                        <select id="pref_1" name="pref_1" required>
                            <option value="" disabled selected>Choose your option</option>
                            {% for professor in professors %}
                                {% if professor.is_free %}
                                    <option value="{{ professor.pk }}">{{ professor.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="pref_1">Preference 1</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons prefix">looks_two</i>
                        <select id="pref_2" name="pref_2" required>
                            <option value="" disabled selected>Choose your option</option>
                            {% for professor in professors %}
                                {% if professor.is_free %}
                                    <option value="{{ professor.pk }}">{{ professor.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="pref_2">Preference 2</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons prefix">looks_3</i>
                        <select id="pref_3" name="pref_3" required>
                            <option value="" disabled selected>Choose your option</option>
                            {% for professor in professors %}
                                {% if professor.is_free %}
                                    <option value="{{ professor.pk }}">{{ professor.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="pref_3">Preference 3</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">Submit
                    <i class="material-icons right">send</i>
                    </button>
                    </div>
                </form>
            </div>
        {% elif leader.has_filled_pref == False and admin.round_2 == False %}

        {% comment %} ROUND 2 ALLOTTMENT PREFERENCES {% endcomment %}
            <div class="row">
                <p>Fill your preferences for Round 2 assignment.</p>
                <form method="post" action="{% url 'Preference set' leader.reg_no %}" class="col s12">
                    {% csrf_token %}
                    <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">looks_one</i>
                        <select id="pref_1" name="pref_1" required>
                            <option value="" disabled selected>Choose your option</option>
                            {% for professor in professors %}
                                {% if professor.is_free %}
                                    <option value="{{ professor.pk }}">{{ professor.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="pref_1">Preference 1</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons prefix">looks_two</i>
                        <select id="pref_2" name="pref_2" required>
                            <option value="" disabled selected>Choose your option</option>
                            {% for professor in professors %}
                                {% if professor.is_free %}
                                    <option value="{{ professor.pk }}">{{ professor.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="pref_2">Preference 2</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons prefix">looks_3</i>
                        <select id="pref_3" name="pref_3" required>
                            <option value="" disabled selected>Choose your option</option>
                            {% for professor in professors %}
                                {% if professor.is_free %}
                                    <option value="{{ professor.pk }}">{{ professor.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="pref_3">Preference 3</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">Submit
                    <i class="material-icons right">send</i>
                    </button>
                    </div>
                </form>
            </div>

        {% elif leader.has_filled_pref == False and admin.round_3 == False %}

        {% comment %} ROUND 3 ALLOTTMENT PREFERENCES {% endcomment %}
            <div class="row">
                <p>Fill your preferences for Round 3 assignment.</p>
                <form method="post" action="{% url 'Preference set' leader.reg_no %}" class="col s12">
                    {% csrf_token %}
                    <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">looks_one</i>
                        <select id="pref_1" name="pref_1" required>
                            <option value="" disabled selected>Choose your option</option>
                            {% for professor in professors %}
                                {% if professor.is_free %}
                                    <option value="{{ professor.pk }}">{{ professor.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="pref_1">Preference 1</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons prefix">looks_two</i>
                        <select id="pref_2" name="pref_2" required>
                            <option value="" disabled selected>Choose your option</option>
                            {% for professor in professors %}
                                {% if professor.is_free %}
                                    <option value="{{ professor.pk }}">{{ professor.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="pref_2">Preference 2</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons prefix">looks_3</i>
                        <select id="pref_3" name="pref_3" required>
                            <option value="" disabled selected>Choose your option</option>
                            {% for professor in professors %}
                                {% if professor.is_free %}
                                    <option value="{{ professor.pk }}">{{ professor.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="pref_3">Preference 3</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">Submit
                    <i class="material-icons right">send</i>
                    </button>
                    </div>
                </form>
            </div>

        {% else %}

        <p>You have already filled your preference for current round.</p>
<br>
        {% endif %}
    {% elif admin.is_mentor_assigned %}
        <p>All rounds are over. Thanks for participation. All the best.</p>
    {% else %}
        <p>Mentor has already been allotted to you. You can't fill preferences for further rounds. </p>
    {% endif %}

    <ul class="collection with-header">
        <li class="collection-header"><h5>Mentor:</h5></li>
    {% if mentor == 'none' %}
        <li class="collection-item"><div>Mentor not allotted yet.</div></li>
    {% else %}
        <li class="collection-item"><div>{{ mentor.name }} - {{ mentor.dept }}<span class="secondary-content"> {{ mentor.email }}<i class="material-icons secondary-content">email</i></span></div></li>
    {% endif %}
    </ul>
<br><br>

         <h6>Click on icon to send invite.</h6>
        <ul class="collection with-header">
        <li class="collection-header"><h5>Available Students</h5></li>
        {% for student in students %}
            {% if student not in invited_students %}
                <li class="collection-item"><div>{{ student.name }} - {{ student.reg_no }}<a href="{% url 'Invite students' leader.reg_no student.reg_no  %}" class="secondary-content"><i class="material-icons">group_add</i></a></div></li>
            {% endif %}
        {% endfor %}
        </ul>

        <br><br>

    <ul class="collection with-header">
        <li class="collection-header"><h5>Invited Students</h5></li>
    {% if leader.invited == '0,' %}
        <li class="collection-item"><div>You have'nt invited anyone yet.</div></li>
    {% else %}

        {% for student in invited_students %}
            {% if student.is_avail %}
                <li class="collection-item"><div>{{ student.name }} - {{ student.reg_no }}<i class="material-icons secondary-content">check</i></div></li>
            {% endif %}
        {% endfor %}

    {% endif %}
    </ul>
<br>
    {% if leader.accepted_by != '0,' %}
        <ul class="collection with-header">
        <li class="collection-header"><h5>Group Members</h5></li>
        {% for accepted_invitee in accepted_invitees %}
            <li class="collection-item"><div>{{ accepted_invitee.name }} ({{ accepted_invitee.reg_no }})<i class="material-icons secondary-content">group</i></div></li>
        {% endfor %}
        </ul>
    {% endif %}
<br>
    <div class="row">
        <h4>Change Password:</h4>
        <form method="post" action="{% url 'Leader Change Password' leader.reg_no %}" class="col s12">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">fiber_new</i>
                    <input type="password" id="new_pass" name="new_pass" required>
                    <label for="new_pass">Enter new password</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">autorenew</i>
                    <input type="password" id="re_pass" name="re_pass" required>
                    <label for="re_pass">Re-enter new password</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Change
                </button>
            </div>
        </form>
    </div>
    </div>
{% endblock %}