{% extends 'base.html' %}
{% comment %}
    context vars:
    prof_1: Details of pref_1
    prof_2: Details of pref_2
    prof_3: Details of pref_3
    leader: Info of currently logged in Leader
{% endcomment %}
{% block title %}Preference Set!{% endblock %}

{% block content %}
    {% comment %}
        Nav Bar
    {% endcomment %}
    <div class="navbar-fixed">
        <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><span style="padding-left: 50px">Choices</span></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li>

                  <form method="post" action="{% url 'Return to Leader Home' leader.reg_no %}">
                    {% csrf_token %}
                    <span style="padding-right: 50px"> <button class="btn waves-effect waves-light" type="submit" name="return_lead" value="return">Return</button></span>
                  </form>
              </li>
          </ul>
        </div>
        </nav>
    </div>
    {% comment %}
        Nav bar ended
    {% endcomment %}
    <div class="container">
        <h3>{{ leader.name }}, your chosen preferences are:</h3>
        <p>Please print this page for future reference. This will not be available in future.</p>
        <ul class="collection with-header white">
            <li class="collection-header white"><h5>Preference 1:</h5></li>
            <li class="collection-item white"><div>{{ prof_1.name }} <span class="secondary-content"><i class="material-icons secondary-content">email</i>{{ prof_1.email }}</span></div></li>
        </ul>

         <ul class="collection with-header">
            <li class="collection-header"><h5>Preference 2:</h5></li>
            <li class="collection-item"><div>{{ prof_2.name }} <span class="secondary-content"><i class="material-icons secondary-content">email</i>{{ prof_2.email }}</span></div></li>
         </ul>

         <ul class="collection with-header">
            <li class="collection-header"><h5>Preference 3:</h5></li>
            <li class="collection-item"><div>{{ prof_3.name }}<span class="secondary-content"><i class="material-icons secondary-content">email</i>{{ prof_3.email }}</span> </div></li>
        </ul>
    </div>

{% endblock %}