{% extends 'base.html' %}
{% comment %}
    Context Vars:
    admin: Data of admin with pk=1
{% endcomment %}

{% block title %}Enter Data{% endblock %}

{% block content %}
    {% comment %}
        Nav Bar
    {% endcomment %}
<div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Professor</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'Dummy Admin Home' admin.username %}">Return</a></li>
      </ul>
    </div>
    </nav>
</div>
    {% comment %}
        Nav bar ended
    {% endcomment %}
    <div class="container row">
        <h2>Add</h2>
        <form method="post" action="{% url "add_prof" %}" class="col s12">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" id="name" name="name" required>
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">home</i>
                    <input type="text" id="dept" name="dept" required>
                    <label for="dept">Department</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input type="email" id="email" name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">format_list_numbered</i>
                    <input type="number" id="group" name="group" value="1" required>
                    <label for="group">No of Groups</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">school</i>
                    <input type="text" id="aoi" name="aoi">
                    <label for="aoi">Area of Interest</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}